.main{
    padding:0 !important;
    margin:0 !important;
    background-color:rgb(236, 236, 236);
}

.header{
    width:100%;
    text-align: center;
    background-color: lightgray;
}

.header img{
    margin:5px;
}

.button{
    height:70px;
    width:500px;
    margin:50px 0;
}

.activePlayer{
    font-size: 1.2vw;
}

.border{
    width: 10vw;
    height: auto;
}

.carte{
    width:7vw;
    height:auto;
}

.footer{
    color:white;
    width: 100%;
    padding:10px 0;
    text-align: center;
    background-color: gray;
}