.main{
    padding:0 !important;
    margin:0 !important;
    background-color:rgb(236, 236, 236);
}

.header{
    width:100%;
    text-align: center;
    background-color: lightgray;
}

.header img{
    margin:5px;
}

.button{
    height:70px;
    width:500px;
    margin:50px 0;
}

.activePlayer{
    font-size: 1.2vw;
}

.noGap{
    margin:0px;
}

.border{
    width: 10vw;
    height: auto;
    cursor:pointer;
}

.smallcarte{
    width:5vw;
    height:auto;
}

.carte{
    width:7vw;
    height:auto;
    cursor:pointer;
}

.outline{
    outline: solid 5px rgba(0, 255, 0, 0.5);
}

.footer{
    color:white;
    width: 100%;
    padding:10px 0;
    text-align: center;
    background-color: gray;
}

/* VAADIN */
[part~="content"] {
    padding: 0px;
    --lumo-font-size: 1rem;
    --lumo-font-size-xxxl: 1.375rem;
    --lumo-font-size-xxl: 1.125rem;
    --lumo-font-size-xl: 1rem;
    --lumo-font-size-l: 0.0rem;
    --lumo-font-size-m: 0.0rem;
    --lumo-font-size-s: 0.0rem;
    --lumo-font-size-xs: 0.0rem;
    --lumo-line-height-m: 1.0;
    --lumo-line-height-s: 1.2;
    --lumo-line-height-xs: 1.1;
    --lumo-border-radius: 0.0em;
    --lumo-size-xl: 0rem;
    --lumo-size-l: 0rem;
    --lumo-size-m: 0rem;
    --lumo-size-s: 0rem;
    --lumo-size-xs: 0rem;
    --lumo-space-xl: 0rem;
    --lumo-space-l: 0rem;
    --lumo-space-m: 0rem;
    --lumo-space-s: 0rem;
    --lumo-space-xs: 0rem;
    margin-top:0;
    margin-right:0;
}